.button {
    display: flex;
    border: 4px solid #00abff;
    font-size: 20px;
    border-radius: 4px;
    padding: 10px 24px;
    background-color: transparent;
    color: white;
}

#copyButton {
    align-self: flex-start;
}

.controlsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 30px;
}

.controlRowContainer {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.valueContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sliderContainer {
    display: flex;
    flex: 6;
    flex-direction: column;
}

.valueContainer span {
    color: #fff;
}

.valueContainer :first-child {
    margin-bottom: 10px;
}

.minMaxContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.minMaxContainer span {
    color: #fff;
}

.minMaxContainer :first-child {
    margin-left: 4px;
}

.minMaxContainer :last-child {
    margin-right: 4px;
}

#colorsContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#colorsList {
    display: flex;
    margin-left: 20px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
}

#colorsList > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#colorsList > div > img{
    width: 24px;
    height: 24px;
    margin-top: 12px;
}